@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');

body {
    overflow:hidden;
    background-color: #ffffff;
    font-family: 'Pontano Sans', sans-serif;
    letter-spacing: 0.5px;
} 

.nav-all {
    width: 100%;
    display: flex;
}

.nav-all ul {
    list-style-type: none;
    color: #222222;
    
}

.nav-all ul a {
    text-decoration: none;
}

.nav-all a:hover {
    text-decoration: underline;
}

.nav-all a:visited {
    color: #222222;
}
.nav-left {
    width: 50%;
    margin: 0% 1% 0% 0%;
    
}

.nav-left ul {
    display: flex;
    
    
}

.nav-right {
    width: 50%;
    
    
}

.nav-right ul {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    justify-content: center;
    
}

.tl1, .tl2 {
    padding-right: 20px;
}

.tr1, .tr2, .tr4 {
    padding-right: 20px;
}

.tr3 img {
    width: 42px;
    margin-top: -5px;
}

.tr4 img {
    width: 50px;
    margin-top: -5px;
}



.container {
    display: flex;
}

.search {
    color:#404144;
    opacity: 0.7;
    display: flex;
    justify-content: center;
}

#srch {
    
    color: #353638;
    border-style: solid;
    border-radius: 25px;
    width: 50%;
    height: 30px;
    

}

.buttons {
    display: flex;
    justify-content: center;
    
}

#b1, #b2 {
    background-color: #F8F9FA;
    border: none;
    color: #404144;
    font-size: 15px;
    opacity: 0.9;
    padding: 1% 5% 1% 3%;
    flex-direction:row;
    align-self:center;
    

}

    

.foot-all {
    width: 100%;
    display: flex;
}

.foot-all ul {
    list-style-type: none;
    color: #868686;

}

.foot-all a {
    text-decoration: none;
}

.foot-all a:hover {
    text-decoration: underline;
}

.foot-all a:visited {
    color: #868686;
}

.foot-all img {
    width: 2.5%;
}
footer {
    background-color: #F2F2F2;
    width: 100%;
    /* position:relative; */
    margin-top: 15%;
}

footer h6 {
    color: #868686;
    font-weight: 400;
    font-size: 16px;
    margin: 2% 5% 2% 2%;
}

/* #F2F2F2 */

footer hr {
    /* height: 1px; */
    border: 0.1 solid;
    color: #DADCE0;
    opacity: 20%;
}

.foot-left {
    width: 33.33%;
    margin: 0% 1% 0% 0%;
    display: flex;
}

.foot-left ul {
    display: flex;

}


.foot-mid {
    width: 33.33%;
    margin: 0% 0% 50% 0%;
    align-self: center;
}



.foot-right {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
}

.foot-right ul {
    display: flex;
}